toast {
    display: block;
    position: fixed;
    left: 50%;
    bottom: 2rem;
    padding: 0.5rem 1.5rem;
    background-color: var(--primary);
    border-radius: 4px;
    color: white;
    transform: translateX(-50%);
    opacity: 0;
    text-align: center;
    animation: toast 4s;
}

@keyframes toast {
    0% {
        opacity: 0;
        bottom: 0.2rem;
    }
    10% {
        opacity: 1;
        bottom: 2rem;
    }
    80% {
        opacity: 0.7;
    }
    100% {
        opacity: 0;
    }
}