:root {
    --first: #222831;
    --second: #393e46;
    --third: #f96d00;
    --fourth: #f2f2f2;
    --fifth: #e3e2e2;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings: "wdth" 100;
}

strong {
    font-weight: 800;
}

html, body {
    background-color: var(--second);
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    font-size: 14px;
}

#halt {
    width: 100%;
    height: 100%;
    background-color: var(--third);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#halt * {
    padding: 2rem;
}

#chatview {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 50% 50%;
    padding: 1.5rem;
    padding-right: 0;
    display: none;
}
#chat-container {
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: var(--first);
    border-radius: 2rem;
    overflow: hidden;
    align-items: center;
    padding: 2rem 0;
    width: 100%;
}
#chat {
    height: 100%;
    width: 100%;
    background-color: var(--fourth);
    overflow-y: scroll;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: end;
}
#chat p {
    margin: 0 auto;
    color: var(--second);
    text-align: center;
}
.bubble {
    margin-top: 1rem;
    border-radius: .5rem;
    padding: .75rem;
    width: 85%;
    line-height: 1.25;
}
.bubble-short {
    width: 100px;
    padding: 0;
    display: flex;
    justify-content: center;
}

.bubble-left {
    background-color: var(--second);
    /* border: 2px solid var(--third); */
    color: var(--fourth);
    cursor: pointer;
}
.bubble-right {
    margin-left: auto;
    background-color: var(--fifth);
}

#input-container {
    padding: 1rem;
    background-color: var(--fifth);
    width: 100%;
    display: flex;
    align-items: center;
}
#input-container button {
    height: 100%;
    width: 7rem;
    background-color: var(--third);
    outline: none;
    border: none;
    border-radius: .5rem;
    color: white;
    font-size: 1.5rem;
    cursor: pointer;
}
#input-container button:hover {
    opacity: .9;
}
#input-container button:active {
    opacity: .7;
}
#input-container button:disabled {
    background-color: var(--second);
    opacity: 0.6;
    cursor: not-allowed;
}


.grow-wrap {
    display: grid;
    width: 100%;
    margin-right: .5rem;
    border-radius: .5rem;
    overflow: hidden;
}
textarea {
    border: none;
    outline: none;
    font-size: 1rem;
}
.grow-wrap::after {
  content: attr(data-replicated-value) " ";
  white-space: pre-wrap;
  visibility: hidden;
}
.grow-wrap > textarea {
  resize: none;
  overflow: hidden;
}
.grow-wrap > textarea,
.grow-wrap::after {
  padding: 0.75rem;
  grid-area: 1 / 1 / 2 / 2;
}

#analysis-container {
    width: 100%;
    height: 100%;
    padding: 2rem;
    color: var(--fourth);
    padding-bottom: 3rem;
    padding-right: 2.5rem;
    overflow-y: scroll;
}
#analysis {
    margin-top: auto;
}
#analysis-container .title {
    color: var(--third);
    /* margin-bottom: 1rem; */
    font-weight: 600;
}
#analysis-container .a-item {
    line-height: 1.5;
    margin-top: 2rem;
}
.a-item ul {
    margin-left: 2rem;
}
.a-item h3 {
    margin-bottom: 1rem;
}

#mandatory {
    width: 100%;
    background-color: var(--first);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    color: var(--fourth)
}
#mandatory p {
    margin-right: .5rem;
}

#banner {
    width: 100%;
    padding: .5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--third);
    color: white;
}

.typing {
  display: block;
  width: 40px;
  height: 30px;
  border-radius: 20px;
  margin: 0 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.circle {
  display: block;
  height: 10px;
  width: 10px;
  border-radius: 50%;
  background-color: var(--fourth);
  margin: 3px;
}

.circle.bouncing {
  animation: bounce 1000ms ease-in-out infinite;
  animation-delay: 3600ms;
}

.circle:nth-child(1) {
  animation-delay: 0ms;
}

.circle:nth-child(2) {
  animation-delay: 333ms;
}

.circle:nth-child(3) {
  animation-delay: 666ms;
}

@keyframes typing {
  0% {
    transform: scale(1);
  }
  33% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.4);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  33% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}