mc-title {
    display: block;
    color: white;
    font-size: 8rem;
    /* width: 40rem; */
    text-align: center;
    margin: 0 auto;
    font-family: 'Minecraft', sans-serif;
}
#home {
    flex-direction: column;
    justify-content: center;
}
#home outside-text {
    text-align: center;
}
#home dialog-button {
    font-size: 1.1rem; 
    padding-top: .7rem; 
    padding-bottom: .7rem; 
    width: 30rem; 
    margin-top: 3rem;
}
