* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Khula', sans-serif;
}
:root {
    --darkest: #14173A;
    --dark: rgb(22, 26, 63);
    --light: rgb(29, 37, 99);
    --primary: rgb(234, 31, 99);
    --secondary: #a0dd3d;
    --tertiary: rgb(102, 41, 163);
}
body {
    overflow: hidden;
}

.root {
    background-color: var(--darkest);
    width: 100%;
    height: 100%;
    position: relative;
}

#code_iframe {
    display: none;
}





